.App {
  text-align: center;
  padding: 20px 20px 80px 20px;
  color: #70767c;
}

.header {
  font-weight: "bold";
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.input {
  margin: 0 5px;
  border-radius: 0.25rem;
  border: 1px #70767c solid;
  padding: 2px;
}

.answer {
  margin: 20px 0 30px;
  height: 150px;
}

.msg {
  font-size: 14px;
  margin-bottom: 20px;
}

.inactive {
  background: beige;
}

.error {
  color: #f00;
  margin-top: 20px;
}

.button {
  display: inline;
  padding: 6px 10px;
  border-radius: 0.25rem;
  font-size: 16px;
  letter-spacing: 0.025rem;
  cursor: pointer;
}

.btn-orange {
  background: #ff790f;
  color: white;
}

.btn-lite {
  background: #f4f8fa;
  color: #70767c;
}

.verbContainer {
  width: 320px;
  margin: 10px auto 0;
  display: flex;
  flex-flow: row wrap;
}

.verbContainer h3 {
  flex-basis: 100%;
}

.conjugationContainer {
  display: flex;
  flex-basis: 50%;
}

.conjugationContainer div {
  padding-right: 10px;
}

.modal {
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 200px;
  height: 200px;
}

.banner {
  background: #44CDC9;
  border-radius: 0.25rem;
  color: white;
  font-size: 14px;
  padding: 10px 0;
}
